@model PageAdmin.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h3>Product Details</h3>
<hr/>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnHand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackOrdered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackOrdered)
        </dd>
    </dl>
</div>
<div class="form-row">
    <div class="form-group col-md-auto">
        <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
    </div>
</div>
