
@model IEnumerable<PageAdmin.Models.Customer>

@{
    ViewData["Title"] = "SearchCustomer";
}


<h1>Welcome to the Pages Admin</h1>
<table class=" table table-striped">
    <thead>
        <tr>
            <th>CompanyName </th>
            <th>Contact </th>
            <th>Phone </th>
            <th>Fax </th>
            <th>Email </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">No Match Any Document</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
    <tr>
        <td>@item.CompanyName</td>
        <td>@item.Contact</td>
        <td>@item.Phone</td>
        <td>@item.Fax</td>
        <td>@item.Email</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a>
        </td>
    </tr>
        }
    }
        </tbody>
    </table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
